@import "../../node_modules/bootstrap/scss/bootstrap";

$indigo: rgb(90, 60, 220);
$yellow: rgb(190, 210, 50);
$purple: rgb(170, 60, 245);
$green: rgb(100, 220, 110);
$red: rgb(220, 100, 110);
$blue: rgb(100, 200, 255);
$turquoise: rgb(50, 210, 200);
$dark-gray: rgb(70, 70, 70);
$light-gray: rgb(180, 180, 180);

$indigo-00: #4400ff;

$white-90: rgb(210, 210, 255);
$white-80: rgb(215, 215, 255);
$white-70: rgb(220, 220, 255);
$white-60: rgb(225, 225, 255);
$white-50: rgb(230, 230, 255);
$white-40: rgb(235, 235, 255);
$white-30: rgb(240, 240, 225);
$white-20: rgb(245, 245, 255);
$white-10: rgb(250, 250, 255);
$white-00: rgb(255, 255, 255);

$black-90: rgb(45, 45, 90);
$black-80: rgb(40, 40, 80);
$black-70: rgb(35, 35, 70);
$black-60: rgb(30, 30, 60);
$black-50: rgb(25, 25, 50);
$black-40: rgb(20, 20, 40);
$black-30: rgb(15, 15, 30);
$black-20: rgb(10, 10, 20);
$black-10: rgb(5, 5, 10);
$black-00: rgb(00, 00, 00);

$indigo-90: lighten(
  $color: $indigo,
  $amount: 30%,
);
$indigo-80: lighten(
  $color: $indigo,
  $amount: 20%,
);
$indigo-70: lighten(
  $color: $indigo,
  $amount: 15%,
);
$indigo-60: lighten(
  $color: $indigo,
  $amount: 10%,
);
$indigo-50: $indigo;
$indigo-40: darken(
  $color: $indigo,
  $amount: 10%,
);
$indigo-30: darken(
  $color: $indigo,
  $amount: 15%,
);
$indigo-20: darken(
  $color: $indigo,
  $amount: 20%,
);
$indigo-10: darken(
  $color: $indigo,
  $amount: 30%,
);

$yellow-90: lighten(
  $color: $yellow,
  $amount: 30%,
);
$yellow-80: lighten(
  $color: $yellow,
  $amount: 20%,
);
$yellow-70: lighten(
  $color: $yellow,
  $amount: 15%,
);
$yellow-60: lighten(
  $color: $yellow,
  $amount: 10%,
);
$yellow-50: $yellow;
$yellow-40: darken(
  $color: $yellow,
  $amount: 10%,
);
$yellow-30: darken(
  $color: $yellow,
  $amount: 15%,
);
$yellow-20: darken(
  $color: $yellow,
  $amount: 20%,
);
$yellow-10: darken(
  $color: $yellow,
  $amount: 30%,
);

$green-90: lighten(
  $color: $green,
  $amount: 30%,
);
$green-80: lighten(
  $color: $green,
  $amount: 20%,
);
$green-70: lighten(
  $color: $green,
  $amount: 15%,
);
$green-60: lighten(
  $color: $green,
  $amount: 10%,
);
$green-50: $green;
$green-40: darken(
  $color: $green,
  $amount: 10%,
);
$green-30: darken(
  $color: $green,
  $amount: 15%,
);
$green-20: darken(
  $color: $green,
  $amount: 20%,
);
$green-10: darken(
  $color: $green,
  $amount: 30%,
);

$red-90: lighten(
  $color: $red,
  $amount: 30%,
);
$red-80: lighten(
  $color: $red,
  $amount: 20%,
);
$red-70: lighten(
  $color: $red,
  $amount: 15%,
);
$red-60: lighten(
  $color: $red,
  $amount: 10%,
);
$red-50: $red;
$red-40: darken(
  $color: $red,
  $amount: 10%,
);
$red-30: darken(
  $color: $red,
  $amount: 15%,
);
$red-20: darken(
  $color: $red,
  $amount: 20%,
);
$red-10: darken(
  $color: $red,
  $amount: 30%,
);

$blue-90: lighten(
  $color: $blue,
  $amount: 30%,
);
$blue-80: lighten(
  $color: $blue,
  $amount: 20%,
);
$blue-70: lighten(
  $color: $blue,
  $amount: 15%,
);
$blue-60: lighten(
  $color: $blue,
  $amount: 10%,
);
$blue-50: $blue;
$blue-40: darken(
  $color: $blue,
  $amount: 10%,
);
$blue-30: darken(
  $color: $blue,
  $amount: 15%,
);
$blue-20: darken(
  $color: $blue,
  $amount: 20%,
);
$blue-10: darken(
  $color: $blue,
  $amount: 30%,
);

$turquoise-90: lighten(
  $color: $turquoise,
  $amount: 30%,
);
$turquoise-80: lighten(
  $color: $turquoise,
  $amount: 20%,
);
$turquoise-70: lighten(
  $color: $turquoise,
  $amount: 15%,
);
$turquoise-60: lighten(
  $color: $turquoise,
  $amount: 10%,
);
$turquoise-50: $turquoise;
$turquoise-40: darken(
  $color: $turquoise,
  $amount: 10%,
);
$turquoise-30: darken(
  $color: $turquoise,
  $amount: 15%,
);
$turquoise-20: darken(
  $color: $turquoise,
  $amount: 20%,
);
$turquoise-10: darken(
  $color: $turquoise,
  $amount: 30%,
);

$dark-gray-90: lighten(
  $color: $dark-gray,
  $amount: 30%,
);
$dark-gray-80: lighten(
  $color: $dark-gray,
  $amount: 20%,
);
$dark-gray-70: lighten(
  $color: $dark-gray,
  $amount: 15%,
);
$dark-gray-60: lighten(
  $color: $dark-gray,
  $amount: 10%,
);
$dark-gray-50: $dark-gray;
$dark-gray-40: darken(
  $color: $dark-gray,
  $amount: 10%,
);
$dark-gray-30: darken(
  $color: $dark-gray,
  $amount: 15%,
);
$dark-gray-20: darken(
  $color: $dark-gray,
  $amount: 20%,
);
$dark-gray-10: darken(
  $color: $dark-gray,
  $amount: 30%,
);

$light-gray-90: lighten(
  $color: $light-gray,
  $amount: 30%,
);
$light-gray-80: lighten(
  $color: $light-gray,
  $amount: 20%,
);
$light-gray-70: lighten(
  $color: $light-gray,
  $amount: 15%,
);
$light-gray-60: lighten(
  $color: $light-gray,
  $amount: 10%,
);
$light-gray-50: $light-gray;
$light-gray-40: darken(
  $color: $light-gray,
  $amount: 10%,
);
$light-gray-30: darken(
  $color: $light-gray,
  $amount: 15%,
);
$light-gray-20: darken(
  $color: $light-gray,
  $amount: 20%,
);
$light-gray-10: darken(
  $color: $light-gray,
  $amount: 30%,
);
