@import 'colors';

.create-wrapper{
    background-color:   rgba(24,16,56);
    color: $white-00;
    width:70%;
    padding: 20px;
    margin: 0 auto;
    outline: 1px solid $blue;
    outline-offset: -10px;

    h1{
        text-align: center;
    }

    .button-wrapper{
        width: 30%;
        text-align: center;
        margin: 0 auto;
        input{
            margin-right: 20px;
        }
    }
}