@import 'colors';

.create-wrapper{
    background-color:  $dark-gray;
    color: $white-00;
    width:70%;
    padding: 20px;
    border: 1px solid $white-00;
    margin: 10px auto;

    h1{
        text-align: center;
    }
}