@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "fonts";


body{
    background-image: url(../image/game-menu.png);//サイトの囲気見るための画像　後ほど直します
    background-size: cover;
}

.select-wrapper{
    border: 1px double $blue;
    opacity: 0.9;
    color: $white-00;
    background-color: $dark-gray;
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    margin: 30px auto;
     
    h1{
        text-align: center;
     }

    .age-select{
        padding: 30px;
        p{
            font-size: 20px;
        }
        }

    .type-select{
        padding: 30px;
        p{
            font-size: 20px;
        }
    }
    
    .number-question{
        padding: 30px;
    }

    .button-wrapper{
        text-align: center;
        .button{
            margin: 30px;
        }
    }
    }
    