@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "fonts";


.select-wrapper{
    border: 1px solid red;//補助線
    color: black;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
     h1{
        text-align: center;
     }

    .age-select{
        border:1px solid blue;//補助線
        padding: 20px;
        }

    .type-select{
       
        padding: 20px;
    }
    }
    