@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "fonts";

*{
    font-family: dot-regular;
}

body{
    background-image: url(../image/game-menu.png);//サイトの囲気見るための画像　後ほど直します
    background-size: cover;
}
main{
    padding: 100px;
    margin: 50px auto;

    .play-menu{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    
    .hex{
        margin: 10px;
        width: 150px;
        height: 130px; /* width*√3/2 */
        clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background: #181038;
        text-align: center;
    }

    .hex:hover{
        transition: .3s;
        background-color: $turquoise;//#AC291D
        font-size: 20px;
        
    }


    a{
        display: inline;
        line-height: 130px;
        text-decoration: none;
        color: white;
    }

    .text{
        display: none;
        position: absolute;
        padding: 16px;
        background-color: #181038;


    }

}
}