@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "fonts";


body{
    background-image: url(../image/top_image.jpeg);
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'DotGothic16', sans-serif;;
    img{
        width: 100%;

    }

    a{
        text-decoration: none;
        color: #ffffff;
    }

    li{
        list-style: none;
    }
}
.title{
    text-align: center;
    font-size: 100px;
    padding: 20px;
}

.button-wrapper{
     text-align: center;
     margin-top: 50px;
    .button{
        display: inline-block;
        width: 100px;
        padding: 10px 20px;
        margin: 30px 20px;
        border: 1px double #1ADEE9;
        background-color: rgba(0,0,0,0.7);
    }

    .button:hover{
        border: 1px double #DEFCFC;
        background-color: rgba(0,0,0,1);
    }
}

footer{
    text-align: right;
    margin-right: 10px;
}