<header id="header">
  <nav>
    <div class="left">
      <img id="logo" src="../image/logo.png" alt="" />
      <div id="title">
        <a href="main-menu.html">
        <div id="top" class="dot-bold">Portal</div>
        <div id="bottom" class="dot-bold">of Time</div>
        </a>
      </div>
    </div>
    <div class="right">
      <button id="open-signup" class="open-modal">
        <i class="bi bi-pencil-square"></i>
        <div class="button-text">新規登録</div>
      </button>
      <button id="open-signin" class="open-modal">
        <i class="bi bi-box-arrow-in-right"></i>
        <div class="button-text">ログイン</div>
      </button>
    </div>
  </nav>
  <%- include("../partials/signin") %>
  <%- include("../partials/signup") %>
  <script type="module" type=”text/javascript” src="../js/header.js"></script>
</header>
