<header id="header">
  <input type="hidden" id="user-id" value="<%= uid %>" />
  <nav>
    <div class="left">
      <img id="logo" src="../image/logo.png" alt="" />
      <div id="title">
        <a href="main-menu.html">
        <div id="top" class="dot-bold">Portal</div>
        <div id="bottom" class="dot-bold">of Time</div>
        </a>
      </div>
    </div>
    <div class="right">
      <div class="user-wrap">
        <div class="user">
          <img class="user-avator" src="../image/avators/nobunaga.png" alt="" />
          <div class="user-info">
            <div class="user-name dot-bold">RaiRai</div>
            <div class="user-id dot-regular">RaiRai000</div>
            <div class="user-rank dot-bold">武将</div>
          </div>
          <div id="user-scores">
            <div class="user-score exp dot-regular">24500</div>
            <div class="user-score coin dot-regular">1200</div>
          </div>
        </div>
        <form id="mypage" action="/signout" method="post">
          <ul id="dropdown-menu">
            <li href="/mypage">マイページ</li>
            <li onclick="mypage.submit();">
                ログアウト
            </li>
          </ul>
        </form>
      </div>
      <i id="settings" class="bi bi-gear-fill"></i>
    </div>
  </nav>
  <div class="modals" id="modal"></div>
  <script type="module" type=”text/javascript” src="../js/header.js"></script>
</header>


<script>
  const uid = $("#user-id").val();
  load();

  async function load() {
    const response = await httpGet(
      "//" + window.location.host + "/api/users/get/info/"+uid,
    );
    $(".user-name").text(response.info[0].name);
  }

  async function logout() {
    location.href =
      "//" + window.location.host + "/gallery";
  }

  var dropdown=0;
  
  $(window).click(function (e) {
    if(!$(e.target).hasClass("user") &&dropdown==1){
      dropdown=0;
      $("#dropdown-menu").attr("style","display:none;");
    }
  });
  $(window).click(function (e) {
    if($(e.target).hasClass("user") &&dropdown==0){
      dropdown=1;
      $("#dropdown-menu").attr("style","display:block;");
    }
  });

</script>
