<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>game-main</title>
</head>
<body>
    <!----背景画像---->
    <img src="" alt="">

    <header>
        <h1><a href="Main-menu.html">Portal of Time</a></h1>

        <nav>
            <p>search</p>
        </nav>


        <div class="header-right">
        <div class="user-info">

            <div class="user-image">
                <div class="busyo">
                    <img src="./images/nobunaga.png" alt="">
                </div>
            </div>

            <div class="user-text">
                <div>RaiRai</div>
                <div>ID:</div>
                <div>武将</div>
            </div>

            <div class="advantage">
                <div class="number">20000</div>
                <div class="number">10000</div>
            </div>
        </div>

        <p>設定マーク</p>
        </div>

    </header>

    <main>

        <div class="play-menu">
            <div class="single hex"><a href="Play-mode.html">Training</a></div>
            <div class="battle hex"><a href="">Battle</a></div>
            <div class="create-rooom hex"><a href="">create-rooom</a></div>
        </div>
        

    </main>

    <footer>

    </footer>
    
</body>
</html>