<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../css/game-menu.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>game-main</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <div class="play-menu">
            <div class="wrapper-btn">
                <div class="single hex">
                    <a href="game-select.html">Training</a>
                </div>
                <!---表示させたい--->
                <p class="text">一人でクイズの練習する</p>
            </div>
            <div class="wrapper-btn">
                <div class="battle hex">    
                    <a href="">Battle</a>
                </div>
                <p class="text">フレンドと一緒にプレイします。</p>
            </div>
            <div class="wrapper-btn">
                <div class="create-rooom hex">
                    <a href="">create-rooom</a>
                </div>
                <p class="text">オンラインでのクイズ部屋を作ります。</p>
            </div>
        </div>
    </main>
    <footer>
    </footer>
<script type="text/javascript">
$("#header").load("header-logout.html");
</script>
</body>
</html>