<nav>
  <div class="left">
    <img id="logo" src="../image/logo.png" alt="" />
    <div id="title">
      <div id="top" class="dot-bold">Portal</div>
      <div id="bottom" class="dot-bold">of Time</div>
    </div>
  </div>
  <div class="right">
    <div class="user">
      <img class="user-avator" src="../image/avators/nobunaga.png" alt="" />
      <div class="user-info">
        <div class="user-name dot-bold">RaiRai</div>
        <div class="user-id dot-regular">RaiRai000</div>
        <div class="user-rank dot-bold">武将</div>
      </div>
      <div id="user-scores">
        <div class="user-score exp dot-regular">24500</div>
        <div class="user-score coin dot-regular">1200</div>
      </div>
    </div>
    <i id="settings" class="bi bi-gear-fill"></i>
  </div>
</nav>
