<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mode-confirmation.css">
    <title>Mode-confirmation</title>
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="Selection-confirmation">
            <div class="solid">
                <img src="../image/quiz-background.png">
                <div class="detail">
                    <p>出題範囲: 戦国時代</p>
                    <p>出題数: 10問</p>
                    <p>難易度: 易しい</p>
                </div>
                <br>
                <div class="selection">
                    <a href="game-select.html" class="return">戻る</a>
                    <a href="Game-play.html" class="start">始める</a>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>