<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>select</title>
</head>
<body>
    <!----背景画像---->
    <img src="" alt="">

    <header>
        <h1><a href="Main-menu.html">Portal of Time</a></h1>

        <nav>
            <p>search</p>
        </nav>


        <div class="header-right">
        <div class="user-info">

            <div class="user-image">
                <div class="busyo">
                    <img src="./images/nobunaga.png" alt="">
                </div>
            </div>

            <div class="user-text">
                <div>RaiRai</div>
                <div>ID:</div>
                <div>武将</div>
            </div>

            <div class="advantage">
                <div class="number">20000</div>
                <div class="number">10000</div>
            </div>
        </div>

        <p>設定マーク</p>
        </div>

    </header>

    <main>

        <div class="select-wrapper">
        <h2>時代選択</h2>

        <div class="select">
            <ul>
                <li>奈良時代</li>
                <li>平安時代</li>
                <li>鎌倉時代</li>
                <li><a href="">戦国時代</a></li>
                <li>江戸時代</li>
                <li>明治時代</li>
            </ul>
        </div>

        </div>
        

    </main>

    <footer>

    </footer>
    
</body>
</html>