body {
  box-sizing: border-box;
  width: 100%;
  height: 1000px;
  color: white;
  background: linear-gradient(180deg, #000000 20.36%, #1ADEE9 100%);
}
body a {
  color: white;
}
body .result {
  box-sizing: border-box;
  position: relative;
  width: 76%;
  height: 78%;
  left: 12%;
  top: 18%;
  background: rgba(24, 16, 56, 0.53);
  border: 5px solid #74C5FF;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;
  display: flex;
  align-items: center;
}
body .title {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}
body .score {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .next {
  position: absolute;
  left: 85%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 24px;
}
body .home {
  position: absolute;
  left: 30%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 24px;
}
body .replay {
  position: absolute;
  left: 70%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
body .explain {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
