<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../../partials/head") %>
    <link rel="stylesheet" href="../css/mainMenu.css">
    <audio autoplay loop id="opening">
      <source src="../sounds/Quiz-CorretBuzzer-mp3/yowanotsukli_koujou.mp3" type="audio/mp3">
      <p>音楽の再生に対応していません</p>
    </audio>
  </head>
  <body>
  <!-- タイピングメッセージ表示画面 -->
    <!-- <div id="typing-area">
      <div id="typing-message">
        <p class="TextTyping">
          This is the history learning site.
      </p>
      </div>
    </div> -->
<!----ローディング画面後現れるメインメニュー↓---->
    <div id="background"></div>
    <%- include("../../partials/header-logout") %>
    <main>
      <div id="contents">
        <div class="title">
          <p>Portal of Time</p>
        </div>
        <div class="button-wrapper">
          <div class="button"><a href="game-menu.html">ゲームをプレイ</a></div>
          <div class="button"><a href="#">歴史を学ぶ</a></div>
        </div>
      </div>
    </main>
    <footer>
      <p>produced by dreamcareer</p>
    </footer>
  </body>

  <script type="text/javascript">

    function mediasVol_def() {
      // 特定のidのaudioの音量設定
      const opening=document.getElementById('opening');
      opening.volume = 0.1; // 0〜1 の間で
    }
    //ページ読み込み時に処理
    window.addEventListener('DOMContentLoaded' , function(){
          mediasVol_def();
    }, false);
  </script>
  <!-- <script src="../js/animetion.js"></script> -->
</html>
